* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --user-photo-width: 150px;
  /* css-змінні */
}

body {
  font-family: sans-serif;
  line-height: 1.2;

}

a {
  text-decoration: none;
  color: inherit;
}

.userCard {
  max-width: 300px;
  width: 100%;
  min-width: 250px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 10px grey;
  overflow: hidden;
  text-align: center;

}
.bg {
  background-image: url("https://images.pexels.com/photos/3222255/pexels-photo-3222255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 150px;
  color: white;
  padding: 25px;
  text-align: right;
}

.content-wrapper {
  padding: 0 1em 1em;
}

.userImg {
  width: var(--user-photo-width);
  height: var(--user-photo-width);
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  display: inline-block;
  margin-top: calc((-1) * var(--user-photo-width) / 2);
  border: 2px solid white;
  }

  .userName {
    font-size: 1.5rem;
    margin: 0.4em;
  }

  .userGeoposition {
    font-size: 1rem;
    margin: 0.5em 0;
  }

  .job {
    font-size: 1.2rem;
    margin: 0.4em 0;
  }

  .experience {
    font-size: 1rem;
    margin: 1.2em 0; 
  }

  .userSocialLink {
    color: white;
    background-color: grey;
    border-radius: 50%;
    padding-top: 10px;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }

  .userSocialLink + .userSocialLink {
    margin-left: 35px;
  }

